{% set page_title = 'OASIA' %}
{% extends "../elements/_base.twig" %}

{% block content %}
<div class="menu">
    <a href="#" class="menu__logo">
        <img src="./assets/images/logo-header.png" alt="OASIA">
    </a>
    {# active #}
    <div class="menu__text_toggle">
        <div class="lines">
            <span class="line line_1"></span>
            <span class="line line_2"></span>
            <span class="line line_3"></span>
        </div>
    </div>
</div>
<div class="menu__absolute">
    <a link="" href="#" class="menu__toggle_close">X</a>
    <a link="trangchu" href="#trangchu" class="active">Trang chủ</a>
    <a link="chtk" href="#chtk">Cảm hứng thiết kế</a>
    <a link="udvt" href="#udvt">Ưu điểm vượt trội</a>
    <a link="vt" href="#vt">Vị trí</a>
    <a link="sp" href="#sp">Sản phẩm</a>
    <a link="tinb" href="#tinb">Tiện ích nổi bật</a>
    <a link="lh" href="#lh">Liên hệ</a>
</div>
{# nhớ thêm active để show #}
<div class="message">
    <div class="message__content text-center">
        <div class="message__title">Bạn đã đăng ký tư vấn thành công.</div>
        <button class="btn-submit button" type="button">Đóng</button>
    </div>
</div>
{# modal đăng kí #}
<div
    class="modal fade in popup"
    id="Popup"
    tabindex="-1"
    role="dialog"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span class="close" data-dismiss="modal" aria-label="Close"> x</span>
                <div class="popup__content">
                    <div class="popup__wrap left">
                        <!-- <img class="logo_head_modal" src="./assets/images/logo_head.png" alt="ĐĂNG KÝ TẠI ĐÂY ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ">
                        <img src="./assets/images/popup_form_img.jpg" alt="ĐĂNG KÝ TẠI ĐÂY ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ"> --></div>
                    <div class="popup__wrap right">
                        <div class="popup__title">
                            ĐĂNG KÝ TẠI ĐÂY
                            <br>
                            ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ
                        </div>
                        <form method="POST">
                            <div class="popup__form form">
                                <div class="form-group">
                                    <input
                                        class="form-control PopupName"
                                        name="name"
                                        type="text"
                                        placeholder="Họ và tên"
                                    >
                                </div>
                                <div class="form-group">
                                    <input
                                        class="form-control PopupPhone"
                                        name="phone"
                                        type="number"
                                        placeholder="Số điện thoại"
                                    >
                                </div>
                                <div class="form-group">
                                    <input
                                        class="form-control PopupEmail"
                                        name="email"
                                        type="text"
                                        placeholder="Email"
                                    >
                                </div>
                                <div class="form-group">
                                    <input
                                        class="form-control PopupNote"
                                        name="note"
                                        type="text"
                                        placeholder="Ghi chú nhu cầu"
                                    >
                                </div>
                                <div class="popup__button text-center mt-4">
                                    <button class="form__submit button" type="submit" disabled="disabled">
                                        Đăng ký
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# trangchu #}
<section class="block1 trangchu" id="trangchu">
    <figure class="block1__bg">
        <img src="./assets/images/v6_block1_bg.jpg" alt="">
    </figure>
    <div class="form">
        <div class="form__title">
            <span class="top">nhận</span>
            <span class="bottom">báo giá</span>
        </div>
        <div class="form__content">
            <div class="form-group wow fadeInUp" data-wow-delay="0.2s">
                <input
                    type="text"
                    name="name"
                    placeholder="Họ và tên"
                    class="form-control block1Name"
                >
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay="0.4s">
                <input
                    type="number"
                    name="phone"
                    placeholder="Số điện thoại"
                    class="form-control block1Phone"
                >
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                <input
                    type="text"
                    name="email"
                    placeholder="Email"
                    class="form-control block1Email"
                >
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay="0.8s">
                <input
                    type="text"
                    name="note"
                    placeholder="Lời nhắn"
                    class="form-control block1Note"
                >
            </div>
        </div>
        <div class="text-center wow fadeInUp" data-wow-delay="1.1s">
            <button class="form__submit button" type="submit" disabled>
                xem thêm
            </button>
        </div>
        <div class="form__des wow fadeInUp" data-wow-delay="1s">
            The Oasia nổi bật với thiết kế kiến trúc nhiều đường cong mềm mại, đậm sắc màu nghỉ dưỡng, kết nối hài hòa với thiên nhiên và cảnh quan sông nước, mang lại trải nghiệm an trú riêng tư giữa đảo tự nhiên lớn nhất khu vực.
        </div>
    </div>
    <div class="block1__right">
        <div class="block1__right--logo wow fadeInRight" data-wow-delay=".1s">
            <img src="./assets/images/v6-block1-logo.png" alt="">
        </div>
        <div class="block1__right--text wow fadeInRight" data-wow-delay=".3s">
            <span class="block1__right--text-1">
                sống tận hưởng
                <br>
                giữa ốc đảo nghỉ dưỡng
            </span>
            <span class="block1__right--text-2">
                <i class="number">5</i>
                sao
            </span>
        </div>
    </div>
</section>
<section class="block block2 chtk" id="chtk">
    <figure class="block2__bg">
        <img src="./assets/images/v6-block2-bg.jpg" alt="khoi ngoc dao xanh    ">
    </figure>
    <div class="block2__wrap">
        <div class="block2__heading">
            <div class="block2__heading--logo wow fadeInUp" data-wow-delay=".1s">
                <img src="./assets/images/v4-block2_logo.png" alt="">
            </div>
            <div class="block2__heading--content wow fadeInUp" data-wow-delay=".3s">
                <div class="block2__heading--title">
                    <span class="top">khối ngọc</span>
                    <span class="bottom">đảo xanh</span>
                </div>
                <div class="block2__heading--des">
                    Kiến trúc The Oasia là kết tinh của nghệ thuật thiết kế hiện đại đầy tinh tế, kết hợp phong cách nghỉ dưỡng siêu sang. Mỗi biệt thự là một tác phẩm kiến trúc tinh xảo hài hòa cùng cảnh quan tuyệt mỹ khiến The Oasia trở thành lựa chọn đáng giá bậc nhất.
                </div>
            </div>
        </div>
    </div>
    <div class="block2__img-mb">
        <img src="./assets/images/v6-block2-img-center.jpg" alt="">
    </div>
    <div class="block2__content2">
        <div class="block2__icon30 wow fadeInUp" data-wow-delay=".4s">
            <div class="block2__icon30--top">
                {#
                <figure class="block2__icon30--img">
                    <img src="./assets/images/block2_number_leaf.png" alt="khoi ngoc dao xanh">
                </figure>
                #}
                <span class="text">tiện ích</span>
            </div>
            <span class="block2__icon30--bottom">phong cách thượng lưu</span>
        </div>
        <div class="block2__summary wow fadeInUp" data-wow-delay=".5s">
            <div class="des">
                Mỗi sáng thức giấc tại dự án The Oasia thuộc khu đô thị SwanBay sẽ là khởi đầu cho ngày đáng sống với vô vàn trải nghiệm có một không hai từ cảnh quan sông nước nhẹ nhàng, không khí trong lành, tinh khiết đến nghệ thuật kiến trúc hài hòa giữa sang trọng, tinh xảo cùng thanh khiết, giàu sự uốn lượn, linh hoạt.
            </div>
            <button
                type="button"
                data-toggle="modal"
                data-target="#Popup"
                class="form__submit button"
            >
                Đăng ký
            </button>
        </div>
    </div>
</section>
<section class="block block3 udvt" id="udvt">
    <figure class="block3__bg">
        <img src="./assets/images/v6-block3-bg-no-arrow.jpg" alt="10 dac diem noi troi cua swanbay oasia">
    </figure>
    <div class="block3__wrap">
        <div class="block3__title">
            <figure class="block3__title--img wow fadeInUp" data-wow-delay=".1s">
                <img src="./assets/images/v6-block3-number-10.png" alt="">
            </figure>
            <div class="block3__title--text wow fadeInUp" data-wow-delay=".3s">
                <span class="small">đặc điểm vượt trội</span>
                <span class="big">của SwanBay Oasia</span>
            </div>
        </div>
        <div class="block3__sliders">
            <div class="swiper-container wow fadeIn" data-wow-delay=".5s">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-1.png" alt="screenshot">
                            </div>
                            <div class="text">thương hiệu</div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-2.png" alt="screenshot">
                            </div>
                            <div class="text">vị trí</div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-3.png" alt="screenshot">
                            </div>
                            <div class="text">
                                đường nét
                                <br>
                                uốn lượn
                            </div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-4.png" alt="screenshot">
                            </div>
                            <div class="text">phân khu</div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-5.png" alt="screenshot">
                            </div>
                            <div class="text">
                                tiện ích
                                <br>
                                5 sao
                            </div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-5.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-6.png" alt="screenshot">
                            </div>
                            <div class="text">công viên</div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-6.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-7.png" alt="screenshot">
                            </div>
                            <div class="text">trải nghiệm</div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-7.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-8.png" alt="screenshot">
                            </div>
                            <div class="text">
                                trường
                                <br>
                                quốc tế
                            </div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-8.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-9.png" alt="screenshot">
                            </div>
                            <div class="text">thiết kế</div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-9.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-wrap">
                            <div class="img-icon">
                                <img class="w-100" src="./assets/images/uudiem-icon-10.png" alt="screenshot">
                            </div>
                            <div class="text">art</div>
                            <div class="img-center">
                                <img src="./assets/images/uudiem-img-10.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigation -->
                <div class="swiper-next swiper-button">
                    <img src="./assets/images/v6-slider-arrow-right.png" alt="">
                </div>
                <div class="swiper-prev swiper-button">
                    <img src="./assets/images/v6-slider-arrow-left.png" alt="">
                </div>
            </div>
            <div class="block3__list-text wow fadeIn" data-wow-delay=".7s">
                <div class="text block3__list-text-1 active">
                    <h2>VỊ TRÍ ĐẮT GIÁ TRÊN ĐẢO TỰ NHIÊN 04 MẶT SÔNG</h2>
                    <p>Vị trí độc tôn trên đảo tự nhiên với 04 mặt sông mang đến không gian sống biệt lập đắt giá, đảm bảo yếu tố phong thủy và kết nối với đô thị trọng điểm qua hạ tầng giao thông đồng bộ.</p>
                </div>
                <div class="text block3__list-text-2">
                    <h2>BỨC HỌA KIẾN TRÚC TRÊN NỀN THIÊN NHIÊN</h2>
                    <p>Thiết kế chú trọng đường nét uốn lượn tự nhiên, mềm mại khiến mỗi khoảnh khắc sống tại The Oasia là một bức tranh sống động của nghệ thuật kiến trúc đỉnh cao trên nền thiên nhiên kỳ vĩ</p>
                </div>
                <div class="text block3__list-text-3">
                    <h2>04 LỰA CHỌN CHO GIA CHỦ TINH HOA</h2>
                    <p>Sở hữu 04 khu vực với phong cách, kiến trúc độc đáo như một bức tranh đa sắc nhưng hoàn hảo.</p>
                </div>
                <div class="text block3__list-text-4">
                    <h2>TIỆN ÍCH NGHỈ DƯỠNG CHUẨN RESORT 5 SAO</h2>
                    <p>Tận hưởng hệ thống tiện ích nghỉ dưỡng chuẩn resort 5 sao với đặc quyền riêng tư cho cư dân The Oasia và chia sẻ hệ thống tiện ích siêu sang từ SwanBay: công viên rộng 22ha, sân golf 18 lỗ, bến du thuyền, trường quốc tế,..</p>
                </div>
                <div class="text block3__list-text-5">
                    <h2>70% DIỆN TÍCH DÀNH CHO KHÔNG GIAN XANH</h2>
                    <p>Không khí trong lành, tinh khiết với sông nước, cảnh quan, công viên và mảng xanh chiếm đến 70% diện tích SwanBay.</p>
                </div>
                <div class="text block3__list-text-6">
                    <h2>CHIA SẺ CHUỖI TIỆN ÍCH CHUẨN MỰC THẾ GIỚI</h2>
                    <p>Các tiện ích chuẩn mực thế giới tạo điều kiện tối ưu cho an trú riêng tư, sống giữa kỳ quan sinh thái và phát triển kinh doanh.</p>
                </div>
                <div class="text block3__list-text-7">
                    <h2>ĐỐI TÁC GIÁO DỤC UY TÍN QUỐC TẾ</h2>
                    <p>Hệ thống trường quốc tế Kinderworld từ Singapore từ mẫu giáo đến trung học phổ thông.</p>
                </div>
                <div class="text block3__list-text-8">
                    <h2>LỰA CHỌN PHONG PHÚ CHIỀU LÒNG GIA CHỦ</h2>
                    <p>Tính đa dạng nhưng hài hoà tinh tế trong thiết kế chiều lòng các cư dân tinh hoa.</p>
                </div>
                <div class="text block3__list-text-9">
                    <h2>HÒA KHÚC  NGHỆ THUẬT SỐNG TẬN HƯỞNG</h2>
                    <p>Nghệ thuật đương đại trong thiết kế kiến trúc phản ánh gu sống tận hưởng của gia chủ.</p>
                </div>
                <div class="text block3__list-text-10">
                    <h2>ĐƯỢC PHÁT TRIỂN BỞI THƯƠNG HIỆU PHÁT TRIỂN BẤT ĐỘNG SẢN QUỐC TẾ SWANCITY</h2>
                    <p>Phát triển bởi thương hiệu phát triển bất động sản quốc tế SwanCity trụ sở tại Singapore với kinh nghiệm phát triển bất động sản toàn cầu cùng tầm nhìn về tương lai.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block block4 vt" id="vt">
    <figure class="block4__bg">
        <img src="./assets/images/v6-block4-bg.jpg" alt="nghe thuat thiet ke hai hoa va tinh xao">
    </figure>
    <div class="block4__slider--wrap">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    href="#block4_tab1"
                    role="tab"
                >So</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#block4_tab2"
                    role="tab"
                >Sei</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#block4_tab3"
                    role="tab"
                >Sumi</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#block4_tab4"
                    role="tab"
                >Miyabi</a>
            </li>
        </ul>
        <div class="tab-content wow fadeInleft" data-wow-delay=".1s">
            <div class="tab-pane fade show active" id="block4_tab1">
                <div class="block4__item">
                    <figure class="block4__left">
                        <img src="./assets/images/v4-block4-map.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                    </figure>
                    <div class="block4__right">
                        <figure class="block4__logo">
                            <img src="./assets/images/block4-icon-logo.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                        </figure>
                        <div class="block4__title">Nghệ thuật thiết kế hài hòa và tinh xảo</div>
                        <div class="block4__des">SO  sở hữu đặc trưng kiến trúc là các đường nét bo tròn mềm mại, tinh xảo chạm đến đỉnh cao của thiết kế kiến trúc. Thêm vào đó, sự kết nối hài hòa hai chiều giữa kiến trúc và cảnh quan sẽ mang đến trải nghiệm sống tận hưởng liền mạch đáng giá cho cư dân tinh hoa.</div>
                        <div class="block4__slider">
                            <div class="block4__slider-js">
                                <a class="block4__img" data-fancybox="block4__slider_tab1" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block4__img" data-fancybox="block4__slider_tab1" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block4__img" data-fancybox="block4__slider_tab1" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                            </div>
                            <div class="block4__slider--arrow">
                                <button type="button" class="slick-arrow slick-prev">
                                    <img src="./assets/images/v6-block7-arrow-left.png" alt="">
                                </button>
                                <button type="button" class="slick-arrow slick-next">
                                    <img src="./assets/images/v6-block7-arrow-right.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="block4_tab2">
                <div class="block4__item">
                    <figure class="block4__left">
                        <img src="./assets/images/v4-block4-map.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                    </figure>
                    <div class="block4__right">
                        <figure class="block4__logo">
                            <img src="./assets/images/block4-icon-logo-tab-2.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                        </figure>
                        <div class="block4__title">KHÔNG KHÍ TRONG LÀNH VÀ TINH KHIÊT</div>
                        <div class="block4__des">Sở hữu mặt tiếp xúc lớn, thiết kế tối đa diện tích mặt kính, kiến trúc phối hợp chất liệu đa dạng, SEI mang yếu tố cảnh quan tinh khôi bao quanh biệt thự vào bên trong không gian sống một cách nhẹ nhàng, không gây ra cảm giác đường đột, bất tự nhiên.</div>
                        <div class="block4__slider">
                            <div class="block4__slider-js">
                                <a class="block4__img" data-fancybox="block4__slider_tab2" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block4__img" data-fancybox="block4__slider_tab2" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block4__img" data-fancybox="block4__slider_tab2" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                            </div>
                            <div class="block4__slider--arrow">
                                <button type="button" class="slick-arrow slick-prev">
                                    <img src="./assets/images/v6-block7-arrow-left.png" alt="">
                                </button>
                                <button type="button" class="slick-arrow slick-next">
                                    <img src="./assets/images/v6-block7-arrow-right.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="block4_tab3">
                <div class="block4__item">
                    <figure class="block4__left">
                        <img src="./assets/images/v4-block4-map.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                    </figure>
                    <div class="block4__right">
                        <figure class="block4__logo">
                            <img src="./assets/images/block4-icon-logo.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                        </figure>
                        <div class="block4__title">CHỐN THỊNH VƯỢNG VỚI TIỆN ÍCH ĐẲNG CẤP BẤT TẬN</div>
                        <div class="block4__des">SUMI nổi bật với 2 mặt sông nước gia tăng phong thủy, mang đến thịnh vượng. Cùng không khí trong lành, cảnh quan xanh mát quanh năm, SUMI sở hữu chuỗi tiện ích đẳng cấp bất tận, chuẩn resort 5 sao chiều lòng cư dân tinh hoa tại đây.</div>
                        <div class="block4__slider">
                            <div class="block4__slider-js">
                                <a class="block4__img" data-fancybox="block4__slider_tab3" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block4__img" data-fancybox="block4__slider_tab3" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block4__img" data-fancybox="block4__slider_tab3" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                            </div>
                            <div class="block4__slider--arrow">
                                <button type="button" class="slick-arrow slick-prev">
                                    <img src="./assets/images/v6-block7-arrow-left.png" alt="">
                                </button>
                                <button type="button" class="slick-arrow slick-next">
                                    <img src="./assets/images/v6-block7-arrow-right.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="block4_tab4">
                <div class="block4__item">
                    <figure class="block4__left">
                        <img src="./assets/images/v4-block4-map.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                    </figure>
                    <div class="block4__right">
                        <figure class="block4__logo">
                            <img src="./assets/images/block4-icon-logo.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                        </figure>
                        <div class="block4__title">CHIÊM NGƯỠNG ĐỈNH CAO CỦA ĐẶC QUYỀN THƯỢNG LƯU</div>
                        <div class="block4__des">Là biểu tượng đỉnh cao của nghệ thuật sống tận hưởng, MIYABI mang đến cho cư dân thượng lưu bộ sưu tập tiện ích đặc quyền đắt giá cùng trải nghiệm nghỉ dưỡng hiếm có giữa thiên nhiên với công viên ven sông và đại công viên 22ha.</div>
                        <div class="block4__slider">
                            <div class="block4__slider-js">
                                <a class="block4__img" data-fancybox="block4__slider_tab4" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block4__img" data-fancybox="block4__slider_tab4" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block4__img" data-fancybox="block4__slider_tab4" href="./assets/images/block4-img.jpg">
                                    <img class="image" src="./assets/images/block4-img.jpg" alt="Phòng Gym">
                                </a>
                            </div>
                            <div class="block4__slider--arrow">
                                <button type="button" class="slick-arrow slick-prev">
                                    <img src="./assets/images/v6-block7-arrow-left.png" alt="">
                                </button>
                                <button type="button" class="slick-arrow slick-next">
                                    <img src="./assets/images/v6-block7-arrow-right.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block block5 wow fadeIn" data-wow-delay=".1s">
    <div id="block5__slider">
        <figure class="block5__bg">
            <img src="./assets/images/v6-block5-img.jpg" alt="nghe thuat thiet ke hai hoa va tinh xao">
        </figure>
        <figure class="block5__bg">
            <img src="./assets/images/v6-block5-img.jpg" alt="nghe thuat thiet ke hai hoa va tinh xao">
        </figure>
    </div>
    <div class="block5__slider--arrow">
        <button type="button" class="slick-arrow slick-prev">
            <img src="./assets/images/v6-block7-arrow-left.png" alt="">
        </button>
        <button type="button" class="slick-arrow slick-next">
            <img src="./assets/images/v6-block7-arrow-right.png" alt="">
        </button>
    </div>
</section>
<section class="block block6  sp" id="sp">
    <figure class="block6__bg">
        <img src="./assets/images/v6-block6-bg.jpg" alt="nghe thuat thiet ke hai hoa va tinh xao">
    </figure>
    <div class="block6__wrap">
        <ul class="nav nav-tabs wow fadeInUp" data-wow-delay=".1s" role="tablist">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    href="#tab1"
                    role="tab"
                >Shop Villa</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#tab2"
                    role="tab"
                >Garden Villa A</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#tab3"
                    role="tab"
                >Garden Villa B</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#tab4"
                    role="tab"
                >Shop House</a>
            </li>
        </ul>
        <div class="tab-content wow fadeIn" data-wow-delay=".3s">
            <div class="tab-pane fade show active" id="tab1">
                <div class="block6__center ">
                    <div class="block6__left">
                        <div class="block6__summary">
                            <h2 class="block6__title">Diện tích mặt sàn 338.5m2</h2>
                            <p class="block6__des">
                                03 tầng, 01 tầng lửng với 04 phòng ngủ & 05 phòng tắm.
                                <br>
                                Thiết kế 2 mặt tiền trước sau cân đối giữa diện tích giành cho kinh doanh và không gian sinh hoạt riêng tư của gia chủ.
                            </p>
                        </div>
                        <div class="block6__slider1">
                            <div class="block6__slider1--title">Shop Villa</div>
                            <div id="block6-slider-1" class="block6-slider-1-js block6__slider1--content">
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-Shop" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-Shop" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-Shop" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                            </div>
                            <div class="block6__slider1--arrow">
                                <button type="button" class="slick-arrow slick-prev">
                                    <img src="./assets/images/block6-arrow-single-left.png" alt="">
                                </button>
                                <div class="slick-number">01</div>
                                <button type="button" class="slick-arrow slick-next">
                                    <img src="./assets/images/block6-arrow-single-right.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="block6__right">
                        <div class="block6-slider-2-js block6__slider2">
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-Shop" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 1</div>
                            </div>
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-Shop" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 2</div>
                            </div>
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-Shop" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <div class="block6__center">
                    <div class="block6__left">
                        <div class="block6__summary">
                            <h2 class="block6__title">Diện tích mặt sàn 338.5m2</h2>
                            <p class="block6__des">
                                03 tầng, 01 tầng lửng với 04 phòng ngủ & 05 phòng tắm.
                                <br>
                                Thiết kế 2 mặt tiền trước sau cân đối giữa diện tích giành cho kinh doanh và không gian sinh hoạt riêng tư của gia chủ.
                            </p>
                        </div>
                        <div class="block6__slider1">
                            <div class="block6__slider1--title">Garden Villa A</div>
                            <div class="block6-slider-1-js block6__slider1--content">
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-GardenVilla" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-GardenVilla" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-GardenVilla" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                            </div>
                            <div class="block6__slider1--arrow">
                                <button type="button" class="slick-arrow slick-prev">
                                    <img src="./assets/images/block6-arrow-single-left.png" alt="">
                                </button>
                                <div class="slick-number">01</div>
                                <button type="button" class="slick-arrow slick-next">
                                    <img src="./assets/images/block6-arrow-single-right.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="block6__right">
                        <div class="block6-slider-2-js block6__slider2">
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-GardenVilla" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 1</div>
                            </div>
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-GardenVilla" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 2</div>
                            </div>
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-GardenVilla" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3">
                <div class="block6__center">
                    <div class="block6__left">
                        <div class="block6__summary">
                            <h2 class="block6__title">Diện tích mặt sàn 325.5m2 - 348.2m2</h2>
                            <p class="block6__des">
                                03 tầng với 04 phòng ngủ & 05 phòng tắm
                                <br>
                                Không gian xanh phía trước cùng diện tích mặt tiền lớn giúp tối đa hóa không gian có tầm nhìn ra sân vườn, hồ bơi.
                            </p>
                        </div>
                        <div class="block6__slider1">
                            <div class="block6__slider1--title">Garden Villa B</div>
                            <div class="block6-slider-1-js block6__slider1--content">
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-GardenVillaB" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-GardenVillaB" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-GardenVillaB" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                            </div>
                            <div class="block6__slider1--arrow">
                                <button type="button" class="slick-arrow slick-prev">
                                    <img src="./assets/images/block6-arrow-single-left.png" alt="">
                                </button>
                                <div class="slick-number">01</div>
                                <button type="button" class="slick-arrow slick-next">
                                    <img src="./assets/images/block6-arrow-single-right.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="block6__right">
                        <div class="block6-slider-2-js block6__slider2">
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-GardenVillaB" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 1</div>
                            </div>
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-GardenVillaB" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 2</div>
                            </div>
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-GardenVillaB" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab4">
                <div class="block6__center">
                    <div class="block6__left">
                        <div class="block6__summary">
                            <h2 class="block6__title">Diện tích mặt sàn 364.4m2</h2>
                            <p class="block6__des">
                                05 tầng lầu với 04 phòng ngủ & 05 phòng tắm
                                <br>
                                Có mặt tiền nhìn ra trục trung tâm của toàn bộ The Oasia và lối đi nội bộ ở mặt sau, Shop House là lựa chọn đáp ứng hoàn hảo nhu cầu kinh doanh của gia chủ.
                            </p>
                        </div>
                        <div class="block6__slider1">
                            <div class="block6__slider1--title">Shop House</div>
                            <div class="block6-slider-1-js block6__slider1--content">
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-ShopHouse" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-ShopHouse" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                                <a class="block6__slider1--item" data-fancybox="block6-slider-1-ShopHouse" href="./assets/images/block6-image-active.jpg">
                                    <img class="image" src="./assets/images/block6-image-active.jpg" alt="Phòng Gym">
                                </a>
                            </div>
                            <div class="block6__slider1--arrow">
                                <button type="button" class="slick-arrow slick-prev">
                                    <img src="./assets/images/block6-arrow-single-left.png" alt="">
                                </button>
                                <div class="slick-number">01</div>
                                <button type="button" class="slick-arrow slick-next">
                                    <img src="./assets/images/block6-arrow-single-right.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="block6__right">
                        <div class="block6-slider-2-js block6__slider2">
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-ShopHouse" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 1</div>
                            </div>
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-ShopHouse" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 2</div>
                            </div>
                            <div class="block6__slider2--item">
                                <a class="img" data-fancybox="block6-slider-2-ShopHouse" href="./assets/images/block6-slider-1.png">
                                    <img class="image" src="./assets/images/block6-slider-1.png" alt="Phòng Gym">
                                </a>
                                <div class="text">Ảnh layout tầng 3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block block7">
    <div class="block7__slider tinb" id="tinb">
        <div id="block7__slider--for" class="slider-for">
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="./assets/images/block7_img.png" alt="">
            </figure>
        </div>
        <div class="block7__bottom">
            <div class="block7__title wow fadeInUp" data-wow-delay=".1s">
                <div class="block7__title-heading">tiện ích nổi bật</div>
                <div class="block7__title-slide">
                    <div class="block7__title-slide-item block7__slider-nav-text-0 active">Clubhouse rộng 1000m2</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-1">04 công viên chủ đề và công viên bờ sông</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-2">Trục thương mại kết nối toàn bộ The Oasia</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-3">Hệ thống trường quốc tế Kinderworld (Singapore)</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-4">Hồ bơi phân làn chuẩn Olympic</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-5">Đại công viên 22Ha</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-6">Khu thể thao đa năng</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-7">Bến du thuyền</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-8">Sân golf 18 lỗ</div>
                </div>
            </div>
            <div class="block7__slider--right">
                <div class="block7__slider--arrow">
                    <button type="button" class="slick-arrow slick-prev">
                        <img src="./assets/images/v6-block7-arrow-left.png" alt="">
                    </button>
                    <button type="button" class="slick-arrow slick-next">
                        <img src="./assets/images/v6-block7-arrow-right.png" alt="">
                    </button>
                </div>
                <div id="block7__slider--nav" class="slider-nav">
                    <figure class="block7__slider-nav block7__slider-nav-0">
                        <img src="./assets/images/block7-nav-slider.jpg" alt="">
                    </figure>
                    <figure class="block7__slider-nav block7__slider-nav-1">
                        <img src="./assets/images/block7-nav-slider.jpg" alt="">
                    </figure>
                    <figure class="block7__slider-nav block7__slider-nav-2">
                        <img src="./assets/images/block7-nav-slider.jpg" alt="">
                    </figure>
                    <figure class="block7__slider-nav block7__slider-nav-3">
                        <img src="./assets/images/block7-nav-slider.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="block8__contact lh" id="lh">
        <div class="block8__contact--form form">
            <div class="form__content">
                <div class="form-group wow fadeInUp" data-wow-delay="0.2s">
                    <input
                        type="text"
                        name="name"
                        placeholder="Họ và tên"
                        class="form-control block7Name"
                    >
                </div>
                <div class="form-group wow fadeInUp" data-wow-delay="0.4s">
                    <input
                        type="number"
                        name="phone"
                        placeholder="Số điện thoại"
                        class="form-control block7Phone"
                    >
                </div>
                <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                    <input
                        type="text"
                        name="email"
                        placeholder="Email"
                        class="form-control block7Email"
                    >
                </div>
                <div class="form-group wow fadeInUp" data-wow-delay="0.8s">
                    <input
                        type="text"
                        name="note"
                        placeholder="Lời nhắn"
                        class="form-control block7Note"
                    >
                </div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="1.1s">
                <button class="form__submit button" type="submit" disabled>
                    Đăng ký
                </button>
            </div>
        </div>
        <a href="#" class="block8__contact--logo fadeInUp" data-wow-delay="2s">
            <img src="./assets/images/v6-block8-logo.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
        </a>
        <div class="block8__contact--address fadeInUp" data-wow-delay="2.5s">
            <div class="block8__contact--address-item">
                <div class="label">sales office:</div>
                <div class="value">87 Hàm Nghi, Phường Nguyễn Thái Bình, Quận 1, TPHCM, Việt Nam</div>
            </div>
            <div class="block8__contact--address-item">
                <div class="label">GALLERY OFFICE:</div>
                <div class="value">Khu đô thị SwanBay</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
