{% set page_title = 'OASIA' %}
{% extends "../elements/_base.twig" %}

{% block content %}
<div class="menu">
    <a href="#" class="menu__logo">
        <img src="../../assets/images/logo.png" alt="OASIA">
    </a>
    {# active #}
    <div class="menu__text_toggle">
        <span class="text">
            menu
        </span>
        <div class="lines">
            <span class="line line_1"></span>
            <span class="line line_2"></span>
            <span class="line line_3"></span>
        </div>
    </div>
</div>
<div class="menu__absolute">
    <a link="" href="#" class="menu__toggle_close">X</a>
    <a link="trangchu" href="#trangchu" class="active">Trang chủ</a>
    <a link="gioithieu" href="#gioithieu">giới thiệu</a>
    <a link="vitri" href="#vitri">vị trí</a>
    <a link="tienich" href="#tienich">Tiện ích</a>
    <a link="matbang" href="#matbang">mặt bằng</a>
    <a link="sanpham" href="#sanpham">sản phẩm</a>
    <a link="csbh" href="#csbh">csbh</a>
    <a link="tintuc" href="#tintuc">tin tức</a>
</div>
{# nhớ thêm active để show #}
<div class="message">
    <div class="message__content text-center">
        <div class="message__title">Bạn đã đăng ký tư vấn thành công.</div>
        <button class="btn-submit" type="button">Đóng</button>
    </div>
</div>
{# trangchu #}
<section class="block1 trangchu" id="trangchu">
    <figure class="block1__bg">
        <img src="../../assets/images/v4_block1_bg.jpg" alt="">
    </figure>
    <div class="form">
        <div class="form__title">
            <span class="top">nhận</span>
            <span class="bottom">báo giá</span>
        </div>
        <div class="form__content">
            <div class="form-group wow fadeInUp" data-wow-delay="0.2s">
                <input
                    type="text"
                    name="name"
                    placeholder="Họ và tên"
                    class="form-control block1Name"
                >
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay="0.4s">
                <input
                    type="text"
                    name="phone"
                    placeholder="Số điện thoại"
                    class="form-control block1Phone"
                >
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                <input
                    type="text"
                    name="email"
                    placeholder="Email"
                    class="form-control block1Email"
                >
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay="0.8s">
                <input
                    type="text"
                    name="note"
                    placeholder="Lời nhắn"
                    class="form-control block1Note"
                >
            </div>
        </div>
        <div class="text-center wow fadeInUp" data-wow-delay="1.1s">
            <button class="form__submit button" type="submit" disabled>
                xem thêm
            </button>
        </div>
        <div class="form__des wow fadeInUp" data-wow-delay="1s">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </div>
    </div>
    <div class="block1__right">
        <div class="block1__right--logo">
            <img src="../../assets/images/v4-block1-logo.png" alt="">
        </div>
        <div class="block1__right--text">
            <span class="block1__right--text-1">
                sống tận hưởng
                <br>
                giữa ốc đảo nghỉ dưỡng
            </span>
            <span class="block1__right--text-2">
                <i class="number">5</i>
                sao
            </span>
        </div>
    </div>
</section>
<section class="block block2 tongquan" id="tongquan">
    <figure class="block2__bg">
        <img src="../../assets/images/block2_bg.jpg" alt="khoi ngoc dao xanh    ">
    </figure>
    <div class="block2__heading">
        <div class="block2__heading--logo">
            <img src="../../assets/images/v4-block1-logo.png" alt="">
        </div>
        <div class="block2__heading--content">
            <div class="block2__heading--title">
                <span class="top">khối ngọc</span>
                <span class="bottom">đảo xanh</span>
            </div>
            <div class="block2__heading--des">
                Thiết kế tổng thể và phong cách kiến trúc của The Oasia là kết tinh từ cảm hứng nghệ thuật Á Đông tinh tế cùng định vị BĐS đảo kết hợp phong cách nghỉ dưỡng siêu sang. Các phân khu tại The Oasia sở hữu tính cách riêng trong phối cảnh, kiến trúc mà vẫn duy trì nét hài hòa tổng thể khiến The Oasia sánh ngang một khối ngọc hiếm có với những mặt cắt hoàn hảo, đắt giá.
            </div>
        </div>
    </div>
    <div class="block2__icon30">
        <div class="block2__icon30--top">
            <figure class="block2__icon30--img">
                <img src="../../assets/images/block2_number_leaf.png" alt="khoi ngoc dao xanh">
            </figure>
            <span class="text">tiện ích</span>
        </div>
        <span class="block2__icon30--bottom">phong cách thượng lưu</span>
    </div>
    <div class="block2__summary">
        <div class="des">
            Mỗi sáng thức giấc tại The Oasia sẽ là khởi đầu cho ngày đáng sống với vô vàn trải nghiệm có một không hai từ cảnh quan sông nước nhẹ nhàng, không khí trong lành, tinh khiết đến nghệ thuật kiến trúc hài hòa giữa sang trọng, tinh xảo cùng thanh khiết, giàu sự uốn lượn, linh hoạt.
        </div>
        <button class="form__submit button">
            xem thêm
        </button>
    </div>
</div>
</section>
<section class="block block3">
    <figure class="block3__bg">
        <img src="../../assets/images/block3_bg.png" alt="10 dac diem noi troi cua swanbay oasia">
    </figure>
</section>
<section class="block block4">
    <figure class="block4__bg">
        <img src="../../assets/images/block4_bg.jpg" alt="nghe thuat thiet ke hai hoa va tinh xao">
    </figure>
    <div class="block4__slider--wrap">
        <div class="block4__slider">
            <div class="block4__item">
                <figure class="block4__left">
                    <img src="../../assets/images/block4-map.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                </figure>
                <div class="block4__right">
                    <figure class="block4__logo">
                        <img src="../../assets/images/block4-icon-logo.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
                    </figure>
                    <div class="block4__title">Nghệ thuật thiết kế hài hòa và tinh xảo</div>
                    <div class="block4__des">Phân khu SO đặc trưng bởi các đường nét bo tròn mềm mại, tinh xảo chạm đến đỉnh cao của nghệ thuật kiến trúc cùng sự kết nối hài hòa hai chiều giữa kiến trúc và cảnh quan, mang đến trải nghiệm sống tận hưởng liền mạch cho cư dân.</div>
                    <figure class="block4__img">
                        <img src="../../assets/images/block4-img.jpg" alt="nghe thuat thiet ke hai hoa va tinh xao">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block block5">
    <figure class="block5__bg">
        <img src="../../assets/images/block5_img.jpg" alt="nghe thuat thiet ke hai hoa va tinh xao">
    </figure>
</section>
<section class="block block6">
    <figure class="block6__bg">
        <img src="../../assets/images/block6_bg.jpg" alt="nghe thuat thiet ke hai hoa va tinh xao">
    </figure>
    <div class="block6__wrap">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    href="#tab1"
                    role="tab"
                >Shop Villa</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#tab2"
                    role="tab"
                >Garden Villa A</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#tab3"
                    role="tab"
                >Garden Villa B</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#tab4"
                    role="tab"
                >Shop House</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1">
                <div class="block6__left">
                    <div class="block6__summary">
                        <h2 class="block6__title">Diện tích mặt sàn 338.5m2</h2>
                        <p class="block6__des">
                            03 tầng, 01 tầng lửng với 04 phòng ngủ & 05 phòng tắm.
                            <br>
                            Thiết kế 2 mặt tiền trước sau cân đối giữa diện tích giành cho kinh doanh và không gian sinh hoạt riêng tư của gia chủ.
                        </p>
                    </div>
                    <div class="block6__slider1">
                        <div class="block6__slider1--title">Shop Villa</div>
                        <div id="block6-slider-1" class="block6__slider1--content">
                            <figure class="block6__slider1--item">
                                <img src="../../assets/images/block6-image-active.jpg" alt="">
                            </figure>
                            <figure class="block6__slider1--item">
                                <img src="../../assets/images/block6-image-active.jpg" alt="">
                            </figure>
                        </div>
                        <div class="block6__slider1--arrow">
                            <button type="button" class="slick-arrow slick-prev">
                                <img src="../../assets/images/block6-arrow-single-left.png" alt="">
                            </button>
                            <div class="slick-number">01</div>
                            <button type="button" class="slick-arrow slick-next">
                                <img src="../../assets/images/block6-arrow-single-right.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="block6__right">
                    <div id="block6-slider-2" class="block6__slider2">
                        <div class="block6__slider2--item">
                            <figure class="img">
                                <img src="../../assets/images/block6-slider-1.png" alt="">
                            </figure>
                            <div class="text">Ảnh layout tầng 1</div>
                        </div>
                        <div class="block6__slider2--item">
                            <figure class="img">
                                <img src="../../assets/images/block6-slider-1.png" alt="">
                            </figure>
                            <div class="text">Ảnh layout tầng 1</div>
                        </div>
                        <div class="block6__slider2--item">
                            <figure class="img">
                                <img src="../../assets/images/block6-slider-1.png" alt="">
                            </figure>
                            <div class="text">Ảnh layout tầng 1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">...</div>
            <div class="tab-pane fade" id="tab3">...</div>
            <div class="tab-pane fade" id="tab4">...</div>
        </div>
    </div>
</section>
<section class="block block7">
    <div class="block7__slider">
        <div class="slider-for">
            <figure class="block7__slider-for">
                <img src="../../assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="../../assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="../../assets/images/block7_img.png" alt="">
            </figure>
            <figure class="block7__slider-for">
                <img src="../../assets/images/block7_img.png" alt="">
            </figure>
        </div>
        <div class="block7__bottom">
            <div class="block7__title">
                <div class="block7__title-heading">tiện ích nổi bật</div>
                <div class="block7__title-slide">
                    <div class="block7__title-slide-item block7__slider-nav-text-1 active">bến du thuyền</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-2">bến du thuyền 1</div>
                    <div class="block7__title-slide-item block7__slider-nav-text-3">bến du thuyền 2</div>
                </div>
            </div>
            <div class="block7__slider--right">
                <div class="block7__slider--arrow">
                    <button type="button" class="slick-arrow slick-prev">
                        <img src="../../assets/images/block7-arrow-left.png" alt="">
                    </button>
                    <button type="button" class="slick-arrow slick-next">
                        <img src="../../assets/images/block7-arrow-right.png" alt="">
                    </button>
                </div>
                <div class="slider-nav">
                    <figure class="block7__slider-nav block7__slider-nav-1">
                        <img src="../../assets/images/block7-nav-slider.jpg" alt="">
                    </figure>
                    <figure class="block7__slider-nav block7__slider-nav-2">
                        <img src="../../assets/images/block7-nav-slider.jpg" alt="">
                    </figure>
                    <figure class="block7__slider-nav block7__slider-nav-3">
                        <img src="../../assets/images/block7-nav-slider.jpg" alt="">
                    </figure>
                    <figure class="block7__slider-nav block7__slider-nav-3">
                        <img src="../../assets/images/block7-nav-slider.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="block8__contact">
        <div class="block8__contact--form form">
            <div class="form__content">
                <div class="form-group wow fadeInUp" data-wow-delay="0.2s">
                    <input
                        type="text"
                        name="name"
                        placeholder="Họ và tên"
                        class="form-control block7Name"
                    >
                </div>
                <div class="form-group wow fadeInUp" data-wow-delay="0.4s">
                    <input
                        type="text"
                        name="phone"
                        placeholder="Số điện thoại"
                        class="form-control block17hone"
                    >
                </div>
                <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                    <input
                        type="text"
                        name="email"
                        placeholder="Email"
                        class="form-control block17mail"
                    >
                </div>
                <div class="form-group wow fadeInUp" data-wow-delay="0.8s">
                    <input
                        type="text"
                        name="note"
                        placeholder="Lời nhắn"
                        class="form-control block7Note"
                    >
                </div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="1.1s">
                <button class="form__submit button" type="submit" disabled>
                    đăng ký
                </button>
            </div>
        </div>
        <a href="#" class="block8__contact--logo">
            <img src="../../assets/images/block8-logo.png" alt="nghe thuat thiet ke hai hoa va tinh xao">
        </a>
        <div class="block8__contact--address">
            <div class="block8__contact--address-item">
                <div class="label">sales office:</div>
                <div class="value">87 Hàm Nghi, Phường Nguyễn Thái Bình, Quận 1, TPHCM, Việt Nam</div>
            </div>
            <div class="block8__contact--address-item">
                <div class="label">GALLERY OFFICE:</div>
                <div class="value">Khu đô thị SwanBay</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
