<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="Cache-control" content="public">
        <meta name="author" content="OASIA">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OASIA</title>
        <link rel="icon" href="./assets/images/favicon.png" type="image/x-png">
        <link rel="stylesheet" href="./assets/libs/animate.css">
        <link rel="stylesheet" href="./assets/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./assets/libs/slick/slick.css">
        <link rel="stylesheet" href="./assets/libs/slick/slick-theme.css">
        <link rel="stylesheet" href="./assets/libs/swiper/swiper.min.css">
        <link rel="stylesheet" href="./assets/libs/lightbox/ekko-lightbox.css">
    </head>
    <body>
        <main class="main_wapper">
            <div class="loading active">
                <div class="loader"></div>
            </div>
            {% block content %}{% endblock %}
        </main>
        <!-- libs  ---------------------------------------------------------------->
        <script src="./assets/libs/jquery/jquery-3.4.1.min.js"></script>
        {#
        <script src="https://www.youtube.com/iframe_api"></script>
        #}
        <script src="./assets/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="./assets/libs/slick/slick.min.js"></script>
        <script src="./assets/libs/wow.min.js"></script>
        <script src="./assets/libs/swiper/swiper.min.js"></script>
        <script src="./assets/libs/lightbox/ekko-lightbox.min.js"></script>
        <script type="text/javascript">

        $('body').on('click', '.popup-news__close', function (event) {
            $('.popup-news').removeClass("active");
        })

        $('.message .btn-submit').click(function (event) {
            $('.message').removeClass("active");
        })

        $('form').submit(function (event) {
            event.preventDefault();
            $(".form__submit").prop('disabled', true);
            $(".loading").addClass("active");
            var formData = {
                'name': $(this).find('input[name=name]').val(),
                'email': $(this).find('input[name=email]').val(),
                'phone': $(this).find('input[name=phone]').val(),
                'note': $(this).find('input[name=note]').val(),
                'utm_source': $('#utm-source').val(),
                'utm_medium': $('#utm-medium').val(),
                'utm_campaign': $('#utm-campaign').val(),
                'utm_content': $('#utm-content').val(),
            };
            $.ajax({
                type: 'POST',
                url: 'link',
                data: formData, // our data object
                dataType: 'json',
                _token: "ukT5QzNn2mqDpoA4PDcYFGBjIwOnC2NcxaedGURW",
            })
                .done(function (data) {
                    $(".loading").removeClass("active");
                    $('form input').val('');
                    $(".message").addClass("active");
                    $(".message__title").text("Bạn đã đăng ký tư vấn thành công.");
                })
                .fail(function () {
                    $(".loading").removeClass("active");
                    $('form input').val('');
                    $(".message").addClass("active");
                    $(".message__title").text("Vui lòng nhập đủ thông tin.");
                });

        });
        </script>
    </body>
</html>
