<div class="footer mt-5">
    <div class="container wow fadeIn" data-wow-delay='0.1s'>
        <div class="row">
            <div class="col-12 col-md-12 col-xl-3">
                <a href="/" class="footer__logo">
                    <img alt="skill spar" src="./assets/images/logo.png">
                </a>
                <div class="footer__heading"><small>© 2017–2021 SkillSpar</small></div>
                
            </div>
            <div class="col-12 col-md-4 col-xl-4">
                <div class="footer__heading">About us</div>
                <ul class="footer__menu">
                    <li>
                        <a href="./home.html">Home</a>
                    </li>
                    <li>
                        <a href="./skills-training.html">Skills Training</a>
                    </li>
                    <li>
                        <a href="./skills-assessment.html">Skills Assessment</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-xl-3">
                <div class="footer__heading">Useful</div>
                <ul class="footer__menu">
                    <li>
                        <a href="./x-act.html">Simulation</a>
                    </li>
                    <li>
                        <a href="./contact-us.html">Contact Us </a>
                    </li>
                    <li>
                        <a href="https://portal.skillspar.com">Login/Register</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-xl-2">
                <div class="footer__heading">Connect with us</div>
                 <ul class="footer__menu">
                    <li>
                        <a href="https://www.facebook.com/skillspar">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/skillspar/">Linkedin </a>
                    </li>
                   
                </ul>
                {# <p class="footer__newsletter-text">Subscribe Newslatter & get Company News.
                    You can't take time.</p>
                <div class="newsletter-form">
                    <div class="form-group">
                        <div class="icon">
                            <img src="./assets/images/email.png" alt="Subscribe Newslatter & get Company News.
                    You can't take time.">
                        </div>
                        <input class="form-control" type="email" placeholder="Enter your email">
                    </div>

                    <button class="btn btn-1BAABC" type="button">Subscribe</button>
                </div> #}
            </div>
        </div>

    </div>