.block1 {
    position: relative;
    // height: 1020px;
    &__bg {
    }
    &__right {
        max-width: 570px;
        position: absolute;
        top: 190px;
        right: 430px;
    }
    &__right--logo {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    &__right--text {
        @include Cormorant-Regular;
        font-size: 40px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        span {
            display: block;
        }
        &-1 {
            line-height: normal;
        }
        &-2 {
            line-height: 50px;
        }
        .number {
            font-size: 100px;
        }
    }
    .form {
        top: 0;
        left: 165px;
        position: absolute;
        padding: 20px 35px;
        background-image: url(../assets/images/form-bg.png);
        background-size: 100% 100%;
        padding-top: 190px;
        &__title {
            @include Cormorant-Bold;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            line-height: normal;
            span {
                display: block;
            }
            .top {
                font-size: 24px;
            }
            .bottom {
                font-size: 35px;
            }
        }
        &__des {
            margin-top: 20px;
        }
    }
}

.block2 {
    height: 1510px;
    position: relative;
    &__bg {
    }
    &__heading {
        position: absolute;
        max-width: 1215px;
        top: 110px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    &__heading--logo {
        margin-right: 70px;
        width: 275px;
    }
    &__heading--content {
        flex: 1;
        color: #2b2722;
    }
    &__heading--title {
        @include Cormorant-Bold;
        color: #2b2722;
        text-transform: uppercase;
        text-align: center;
        line-height: normal;
        span {
            display: block;
        }
        .top {
            font-size: 24px;
        }
        .bottom {
            font-size: 35px;
        }
    }
    &__heading--des {
    }
    &__icon30 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        left: 65%;
        width: 515px;
        &--top {
            display: flex;
            align-items: flex-end;
            .text {
                @include Cormorant-Bold;
                color: #2b2722;
                text-transform: uppercase;
                font-size: 30px;
            }
        }
        &--img {
            width: 280px;
        }
        &--bottom {
            @include Cormorant-Semi-Bold;
            color: #2b2722;
            text-transform: uppercase;
            font-size: 30px;
        }
    }
    &__summary {
        position: absolute;
        text-align: right;
        left: 150px;
        top: 80%;
        max-width: 550px;
        .button {
            color: #2b2722;
            margin-top: 25px;
        }
    }
}
.block3 {
    height: 915px;
    position: relative;
    &__bg {
    }
    &__wrap {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &__title {
        text-align: center;
        transform: translateY(-60px);
    }
    &__title--img {
        max-width: 215px;
        margin-left: auto;
        margin-right: auto;
    }
    &__title--text {
        color: #fff;
        span {
            display: block;
            text-transform: uppercase;
        }
        .small {
        }
        .big {
        }
    }
    &__sliders {
        max-width: 1420px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    &__content {
        .text {
            color: #fff;
        }
        .img-small {
            max-width: 90px;
            // margin-left: auto;
            // margin-right: auto;
        }
        .img-center {
            // display: none;
            max-width: 490px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__slider--nav-wrap {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    .nav {
        .slick-center {
            // margin: 0 100px;
        }
    }
    .for {
        max-width: 490px;
        margin: 0 auto;
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
}
.block4 {
    // height: 1100px;
    position: relative;
    &__bg {
        margin-top: 14px;
        position: absolute;
    }
    &__item {
        display: flex !important;
        width: 1655px;
        padding-left: 30px;
        padding-right: 195px;
    }
    &__slider--wrap {
        // position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
    &__left {
        flex: 1;
    }
    &__right {
        width: 515px;
        margin-left: 40px;
    }
    &__logo {
    }
    &__title {
    }
    &__des {
    }
    &__img {
    }
}
.block5 {
    &__bg {
        margin-top: 29px;
    }
}
.block6 {
    position: relative;
    &__bg {
        position: absolute;
    }
    &__wrap {
        position: relative;
        z-index: 1;
        width: 1650px;
        margin-left: 200px;
        margin-right: 110px;
    }
    .nav {
        padding-top: 35px;
        padding-bottom: 60px;
    }
    .nav-item {
    }
    .tab-content {
        margin-bottom: 50px;
    }
    .tab-pane {
    }
    &__center {
        display: flex;
        position: relative;
        color: #000;
    }
    &__left {
        position: relative;
        z-index: 1;
    }
    &__right {
        @include transform(translateX(-75px));
        position: relative;
        .slick-dots {
            bottom: 100px;
            z-index: 2;
            li {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin: 0 5px;
                background-color: #ccc0a6;
                @include transition(all 0.3s ease);
                button {
                    display: none;
                }
                &.slick-active {
                    background-color: #806221;
                }
            }
        }
    }
    &__summary {
        padding-left: 55px;
        max-width: 815px;
    }
    &__title {
    }
    &__des {
    }
    &__slider1 {
        max-width: 1045px;
    }
    &__slider1--title {
        @include Cormorant-Bold;
        @include transform(translateY(15px));
        color: #2b27224d;
        font-size: 110px;
        line-height: 0.7;
        text-transform: uppercase;
        padding-left: 55px;
    }
    &__slider1--item {
    }
    &__slider1--arrow {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);
        padding-right: 85px;
        margin-top: 30px;
        .slick-arrow {
            width: 65px;
            height: auto;
            position: static;
            transform: none;
        }
        .slick-next {
        }
        .slick-prev {
        }
        .slick-number {
            min-width: 73px;
            text-align: center;
            font-size: 55px;
            line-height: 40px;
            margin: 0 20px;
            @include Montserrat-Bold;
        }
    }
    &__slider2 {
        max-width: 627px;
        position: relative;
        overflow: hidden;
        padding-right: 50px;
        &::before {
            position: absolute;
            content: "";
            z-index: 1;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-position: center;
            background-image: url(../assets/images/block6-frame-bg.png);
        }
        .slick-arrow {
            transform: none;
            cursor: pointer;
            z-index: 1;
            right: 100px;
            bottom: 100px;
            top: auto;
            width: 72px;
            height: 72px;
            background-image: url(../assets/images/block6-arrow-right.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }
    &__slider2--item {
        text-align: center;
        .img {
            margin-top: 85px;
            margin-bottom: 115px;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
        .text {
        }
    }
}

.block7 {
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../assets/images/block8_bg.jpg);
    &__bg {
        // position: absolute;
    }
    .slider {
    }
    .slider-for {
    }
    .slider-nav {
        max-width: 615px;
    }
    &__slider {
    }
    &__slider-for {
    }
    &__slider-nav {
        // width: 225px !important;
        height: 210px;
        border-radius: 10px;
        overflow: hidden;
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin: 0 7px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-color: #fbfbfb4d;
            width: 100%;
            height: 100%;
        }
        &.slick-current {
            &::before {
                background-color: transparent;
            }
            opacity: 1;
        }
        img {
            width: auto;
        }
    }
    &__bottom {
        display: flex;
    }
    &__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-left: 70px;
    }
    &__slider--right {
        margin-left: auto;
        display: flex;
        position: relative;
    }
    &__slider--arrow {
        display: flex;
        align-items: flex-end;
        margin-right: 20px;
        .slick-arrow {
            position: static;
            width: 67px;
            height: 67px;
            background-color: transparent;
            margin: 0 15px;
            transform: none;
            margin-bottom: 12px;
            border-radius: 50%;
            &:hover {
                background-color: bisque;
            }
        }
        .slick-prev {
        }
        .slick-next {
        }
    }
    &__title-heading {
        @include Montserrat-Bold;
        padding-right: 15px;
        margin-right: 15px;
        position: relative;
        font-size: 30px;
        &::before {
            position: absolute;
            content: "";
            height: 28px;
            width: 1px;
            background-color: #000;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__title-slide {
        position: relative;
    }
    &__title-slide-item {
        display: none;
        &.active {
            display: block;
        }
    }
    &__bottom {
    }
}
.block8__contact {
    display: flex;
    align-items: center;
    position: relative;
    margin: 125px 140px 0 145px;
    &--form {
        position: static;
        margin-left: 0;
        margin-right: 0;
        width: 445px;
        .form__submit {
            color: #926e2c;
            margin-top: 10px;
        }
        .form-control {
            background-color: #0c152557;
            @mixin placeholder {
                color: #000;

                @media (max-width: 767px) {
                    @include mb_fs14;
                }
            }

            &::-webkit-input-placeholder {
                @include placeholder;
            }

            &::-moz-placeholder {
                @include placeholder;
            }

            &:-ms-input-placeholder {
                @include placeholder;
            }

            &:-moz-placeholder {
                @include placeholder;
            }
        }
    }
    &--logo {
        display: inline-block;
        margin-left: 80px;
        margin-right: 70px;
    }
    &--address {
    }
    &--address-item {
        text-transform: uppercase;
        .label {
            font-size: 30px;
        }
        .value {
        }
    }
}

// slider loader

#block4__slider,
#block6-slider-1,
#block6-slider-2,
#block7__slider--for,
#block7__slider--nav {
    @include your_slider_wrapper;
    &.slick-initialized {
        @include your_slider_wrapper_done;
    }
}
