@mixin mb_fs14 {
    font-size: 14px;
}

@mixin mb_lineheighttext {
    line-height: 1.25;
}

@mixin pc_lineheighttext {
    line-height: 1.3;
}

.hambuger {
    cursor: pointer;

    @media (min-width: 768px) {
        display: none;
    }

    .bar {
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.2s all ease;
        display: block;
    }

    &.show {
        position: relative;
        z-index: 1000;

        .bar {
            background-color: #fff;
        }

        .bar1 {
            transform: rotate(-45deg) translate(-3px, 2px);
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }
}

.menu {
    @include flexbox;
    @include justify-content(center);
    padding: 0.781vw 10.417vw;
    background-image: url(../assets/images/header_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 2;

    @media (max-width: 767px) {
        height: auto;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        padding-top: 12px;
        padding-bottom: 40px;
    }

    &__logo {
        width: 9.375vw;

        @media (max-width: 767px) {
            width: 115px;
        }

        img {
            width: 100%;
        }
    }

    &__nav {
        @include flexbox;
        @include transition(all 0.3s ease);
        transition-delay: 0.3s;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 2.083vw;

        @media (max-width: 767px) {
            @include flex-direction(column);
            @include transition(all 0.3s ease);
            // transition-delay: 0.3s;
            margin: 0;
            padding: 20px;
            padding-top: 50px;
            height: 100%;
            position: fixed;
            right: 0;
            top: 0;
            // width: 50vw;
            height: 100%;
            width: 280px;
            transform: translateX(280px);

            &.show {
                z-index: 999;
                background: rgb(9, 84, 109);
                transform: translateX(0);
            }
        }
    }

    &__nav-item {
        margin: 0 0.365vw;

        @media (max-width: 767px) {
            text-align: center;
        }
    }

    &__nav-link {
        @include transition(all 0.3s ease);
        text-transform: uppercase;
        padding: 0.313vw 0.677vw;
        padding-bottom: 0.313vw;
        border-radius: 1.094vw;
        font-size: 1.042vw;
        display: inline-block;
        line-height: normal;

        @media (max-width: 767px) {
            font-size: 14px;
            margin: 7px 0;
            padding: 5px 10px;
            padding-bottom: 4px;
            border-radius: 14px;
        }

        &:hover,
        &.active {
            color: #fff;
            text-decoration: none;
        }
    }
}

.message {
    @include transform(translate(-50%, -50%));
    @include transition(all 0.3s ease);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 31.25vw;
    padding: 1.04167vw;
    background-color: #0a3344;
    opacity: 0;
    z-index: -1;
    visibility: hidden;

    @media (max-width: 767px) {
        max-width: 400px;
        width: 60vw;
        padding: 3vw 2vw;
    }

    &.active {
        opacity: 1;
        z-index: 9998;
        visibility: visible;
    }

    &__content {
    }

    &__title {
        font-size: 1.65vw;
        color: #fff;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 5px;

        @media (max-width: 767px) {
            font-size: 4vw;
        }
    }

    .btn-submit {
        margin-top: 1vw;
        border: none;
        background: #e3a371;
        padding: 5px 45px;
        padding-bottom: 2px;
        font-size: 20px;
        color: #fff;
        border-radius: 25px;
    }
}
.form {
    // max-width: 555px;
    width: 28.906vw;
    margin: 0 auto;
    position: absolute;

    &__title {
        margin-bottom: 1.563vw;

        @media (max-width: 767px) {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
        }
    }

    &__content {
        margin-bottom: 0.521vw;
    }

    &__des {
        padding-left: 3.385vw;
        color: #fff;
        margin-bottom: 1.042vw;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }

        p {
            font-size: 1.198vw;
            margin: 0;
            position: relative;
            padding-left: 0.938vw;
            display: block;
            margin-bottom: 0.156vw;

            @media (max-width: 767px) {
                @include mb_fs14;
                padding-left: 15px;
            }

            &::before {
                position: absolute;
                content: "";
                width: 0.521vw;
                height: 0.521vw;
                border-radius: 50%;
                background-color: #fff;
                left: 0;
                top: 0.573vw;

                @media (max-width: 767px) {
                    width: 5px;
                    height: 5px;
                    top: 6px;
                }
            }
        }
    }

    &__submit {
        background-color: transparent;
        box-shadow: none;
        border: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 767px) {
            max-width: 224px;
        }

        &:disabled,
        &[disabled="disabled"] {
            cursor: no-drop;
        }
    }

    .form-group {
        margin-bottom: 13px;
    }

    .form-control {
        height: 3.646vw;
        border-radius: 1.823vw;
        background-color: #fff;
        padding: 0.521vw 1.042vw;
        font-size: 1.146vw;

        @media (max-width: 767px) {
            @include mb_fs14;
            height: 45px;
            border-radius: 25px;
            padding: 10px;
        }

        @mixin placeholder {
            color: #769ba7;

            @media (max-width: 767px) {
                @include mb_fs14;
            }
        }

        &::-webkit-input-placeholder {
            @include placeholder;
        }

        &::-moz-placeholder {
            @include placeholder;
        }

        &:-ms-input-placeholder {
            @include placeholder;
        }

        &:-moz-placeholder {
            @include placeholder;
        }
    }
}
